<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd">

	<mvc:annotation-driven
		ignore-default-model-on-redirect="true" validator="validator" />
	<!-- 以下 validator ConversionService 在使用 mvc:annotation-driven 会 自动注册 -->
	<bean id="validator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator" />
		<!-- 如果不加默认到 使用classpath下的 ValidationMessages.properties -->
		<property name="validationMessageSource" ref="messageSource" />
	</bean>
	
	
	
	<!-- 国际化的消息资源文件（本系统中主要用于显示/错误消息定制） -->
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<!-- 在web环境中一定要定位到classpath 否则默认到当前web应用下找 -->
				<value>classpath:messages</value>
				<value>classpath:org/hibernate/validator/ValidationMessages</value>
			</list>
		</property>
		<property name="useCodeAsDefaultMessage" value="false" />
		<property name="defaultEncoding" value="UTF-8" />
		<property name="cacheSeconds" value="60" />
	</bean>

	<!-- 自动扫描与装配bean,包括子包 -->
	<context:component-scan base-package="com.promise"></context:component-scan>


	<!-- MVC Interceptors -->
	<alias name="defaultBeforeControllerHandlersList" alias="beforeControllerHandlersList" />
	<util:list id="defaultBeforeControllerHandlersList">
	</util:list>

	<alias name="defaultBeforeViewHandlersList" alias="beforeViewHandlersList" />
	<util:list id="defaultBeforeViewHandlersList">
	</util:list>

	<alias name="defaultBeforeControllerHandlerInterceptor" alias="beforeControllerHandlerInterceptor" />
	<bean id="defaultBeforeControllerHandlerInterceptor"
		class="com.promise.interceptors.BeforeControllerHandlerInterceptor">
		<property name="beforeControllerHandlers">
			<ref bean="beforeControllerHandlersList" />
		</property>
	</bean>

	<alias name="defaultBeforeViewHandlerInterceptor" alias="beforeViewHandlerInterceptor" />
	<bean id="defaultBeforeViewHandlerInterceptor" class="com.promise.interceptors.BeforeViewHandlerInterceptor">
		<property name="beforeViewHandlers">
			<ref bean="beforeViewHandlersList" />
		</property>
	</bean> 

	<!-- 文件上传 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8"></property>
		<property name="maxUploadSize" value="-1"></property>
		<property name="maxInMemorySize" value="40960"></property>
	</bean>

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- webroot到某一指定的文件夹的路径 -->
		<property name="prefix" value="/WEB-INF/views/"></property>
		<!-- 视图名称的后缀 -->
		<property name="suffix" value=".jsp"></property>
	</bean>

	<mvc:resources mapping="/common/**" location="/common/" cache-period="2592000"/>   

    <mvc:resources mapping="/resource/**" location="/resource/" cache-period="31536000"/>   
    
    <mvc:resources mapping="/favicon.ico" location="/resource/img/favicon.ico" />

    <mvc:resources mapping="/index.html" location="/index.html" />

</beans>